# Ignore Obsidian config and workspace
.obsidian/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore temporary files
*.log
*.tmp

# Ignore backups or sync artifacts
*.bak
*.swp

/.vscode/settings.json
/Web Application Pentesting/Attack Scripts/.vscode/settings.json
/.vscode/settings.json